beautifulsoup4
certifi
charset-normalizer
idna
numpy
pandas
pytz
pywin32
requests
soupsieve
tqdm
tzdata
urllib3
gensim
psycopg2
ipykernel
datetime
random2
matplotlib
wordcloud
seaborn
nltk
sentence-transformers
pickle5